.p_a_logo{
  background: url('https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
}
.p_user_pos{
 width: 30px;
 height: 30px;
 background-position: 214px -339px; 
}
.p_logo_position{
  background-position: -8px -46px;
}
.p_home_a_box{
  width: 100px;
  height: 35px;
}
.p_amzn_logo_box{
  width: 105px;
  height: 36px;
}
input:focus,button:focus{
  box-shadow: none !important;
}
.p_tabpane .nav-link.active{
  border-bottom:2px solid orangered !important;
  background: transparent;
  color:#000;
}
.p_amznlogo{
  background-position: -4px -128px !important; 
}
.p_in_box{
  width:16px ;
  height: 17px;
   top:4px;
  right:-18px ;
  background-position: -228px -205px !important;
}
.p_cros_pos{
  width:24px ;
  height: 29px;
  background-position: 161px -287px;
}
/**************************Home css start******************************************/
.p_arw_left{
  width: 12px;
  height: 20px;
  background-position: 214px -287px;
}
.p_menu_pos{
  width: 23px;
  height: 23px;
  background-position: 214px -253px; 
}
.p_cartbox{
  width:47px;
  height:42px ;
  background-position: 134px -330px;
}
.p_loc_pos{
  height: 26px;
  width: 22px;
  background-position: -70px -304px;
}
.p_globe_pos{
  width:15px ;
  height:17px ;
  background-position: 64px -25px !important;
}
.p_updown_arw_pos{
  width: 10px;
  height: 13px;
  background-position: -64px -4px !important;
}
.flag_sheet{
  background: url('https://m.media-amazon.com/images/S/sash/rzrQQdi0aRm6Dap.png');
}
.p_flag_box{
  width: 26px;
  height: 20px;
  background-position: 0px -165px;
}
/* .p_arrw_pos{
 width: 20px;
 height: 11px;
 background-position: 0px 0px !important; 
}   */
.p_search_pos{
  width: 27px;
  height: 24px;
  background-position: -8px -290px;
}
.tbdr{
  border:1px dashed #000;
}
header{
  position:relative;
z-index:1000000000;
} 
.p_header_top{
  height:60px;
  z-index: 10000000;
  background:#131921; 
}
.hform input:focus{
  border:none !important;
  box-shadow: none !important;
}
.hform{
  border-radius: 9px;
  border:3px solid #131921;
}
.hform input{
  border:none !important;
}
.Allnavmenu{
  width: 365px;
  z-index:10000000000; 
  transition: all 0.3 ease-in-out;
}
.l0{
  left:0px;
}
.l366{
  left:-366px;
}
.Allnavclosebtn{
  left:370px;
  z-index:10000000000;
}
.P_navmenuheight{
  height:720px !important ;
  padding-bottom: 100px;
}
.hformsbmt{
  border-radius: 7px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.formBorder{
  border:3px solid #ff9900 !important;
}
.p_header_top > button:hover{
  outline:1px solid #fff;
}
.mhcolor{
  background:#232f3e ;
}
.mhul li a{
  color: #333;
  padding-left: 30px;
}
.mhul li a:hover{
  background: #eaeded !important;
  color: #333 !important;
}
.p_signin_model{
  display: block !important;
}
.p_ht_signin_model{
  width: 500px;
  height: 370px;
  top:58px ;
  right:-160px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  transition: all 0.1s linear 0.1s;
  opacity:0;
  visibility: hidden; 
}
.p_ht_signin_model_button:hover > div.p_ht_signin_model{
  opacity: 1 ;
  visibility: visible ; 
 }
 .p_aup_ht_signin_model{
 top: -10px;
 left:305px;
 }
.p_ht_signin_model a{
  font-size:12px !important;
  padding: 2px !important;
  color: #333;
}
.p_ht_signin_model a:hover{
  text-decoration: underline;
  color:#f0c350;
}
.p_header_bottom{
  height:39px;
background: #232f3e;
}
.p_header_bottom a {
  /* TRBL */
  padding-left: 5px;
  padding-right: 5px;
  font-size:15px;
  color:#fff;
  margin-top:3px;
}
.overlay{
  position: fixed;
  z-index:1000000;
  transition:all linear 0.2s;
  background: rgba(0,0,0,0.5);
}
.p_visible{
opacity:1;
visibility: visible;
}
.p_invisible{
opacity:0;
visibility: hidden;
}
.primeBox{
  height: 340px;
  width:342px;
  top:35px;
}
.p_header_bottom li:hover .prime~div{
  display:block !important;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff; 
}
.p_aup_primeBox{
  top:-10px;
  left:45px;
}
.p_header_bottom a:hover{
  outline:1px solid #fff;
  color:#fff;
}
.p_header_bottom a:active,.p_header_bottom a:focus{
  color:#fff;
}
.p_ht_countrydd{
 width: 237px;
  height: 300px;
  left:6px;
  top:57px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  transition: all 0.1s linear 0.1s;
 opacity: 0;
  visibility: hidden;
}
.p_aup_ht_countrydd{
  left:22px;
  top:-10px;
}
.p_ht_countrydd_btn:hover > div.p_ht_countrydd{
  opacity: 1;
  visibility: visible;
}
.p_main{
 min-height:5271px;
 background:#eaeded
}
.p_main_top .carousel-control-prev ,.p_main_top .carousel-control-next{
  width:5% !important;
  height:50% !important;
}
.p_main_top .carousel-item{
  position: relative;
}
.olay{
  background-image: linear-gradient(transparent 30%,#EAEDED 70%);
}
.p_main1{
  height: 600px; 
}
.p_main_bottom{
  top:250px;
  left:20px;
  width:97%; 
}
.p_main_bottom_1{

}
.p_main_bottom_1 > div{
height:423px;
}
.p_mainbox1{
height:98%;
width:98%;
background:#fff;
}
.p_toplinks{
  height: 265px;
  overflow: hidden;
}
.p_toplinks > div{
  background: #f2fafb;
  height: 50% !important;
  border:1px solid #fff;
}
.p_mainbox1_inner >div{
  height:90%;
}
.p_mainbox1_inner .col-6{
  height:140px ;
  }
  .p_mainbox1_inner .row a{
    font-size: 12px;
  }
.p_mainbox1_inner a{
  text-decoration: none;  
}
.p_main_bottom_2 >div{
  height:421px; 
}
.p_main_bottom_3{
  height:364px; 
}
.imgcont{
  height:300px;
}
.imgcont >div {
  border:1px dashed black;
}
#carouselExampleControls2 .carousel-control-prev,#carouselExampleControls2 .carousel-control-next{
  background:#fff;
  width:3%;
  height: 30%;
  top:111px;
  display: block;
  opacity: 1!important;
}
#carouselExampleControls2 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: red;
}

#carouselExampleControls2 .carousel-control-prev-icon:after
 {
  content: '<';
  font-size: 50px;
  color: red;
}
#carouselExampleControls2 .carousel-control-prev{
              /*X  Y B  S  C */
  box-shadow:2px 0px 2px 2px rgba(0,0,0,0.3) ;
}
#carouselExampleControls2 .carousel-control-next{
box-shadow:-2px 0px 2px 2px rgba(0,0,0,0.3) ;
}
.p_main_bottom_4{
  height: 287px;
}
.imgcont2{
  height:222px ;
}
.imgcont2 >div{
  border: 1px dashed green;
}
#carouselExampleControls3 .carousel-control-prev,#carouselExampleControls3 .carousel-control-next{
  background:#fff;
  width:3%;
  height: 30%;
  top:90px;
  display: block;
  opacity: 1!important;
}
#carouselExampleControls3 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: red;
}

#carouselExampleControls3 .carousel-control-prev-icon:after
 {
  content: '<';
  font-size: 45px;
  color: red;
}
#carouselExampleControls3 .carousel-control-prev{
              /*X  Y B  S  C */
  box-shadow:2px 0px 2px 2px rgba(0,0,0,0.3) ;
}
#carouselExampleControls3 .carousel-control-next{
  /*X  Y B  S  C */
box-shadow:-2px 0px 2px 2px rgba(0,0,0,0.3) ;
}
.p_main_bottom_5{
  height: 423px;
}
.p_main_bottom_6{
  height: 287px;
}
.p_main_botton_7{
  height:283px ;
}
.p_main_botton_8{
  height:253px ;
}
.p_main_botton_9{
 height:423px ;
}
.p_main_botton_10{
  height: 283px;
}
.p_main_botton_11{
  height: 283px;
}
.p_main_botton_12{
  height:423px ;
}
.p_main_botton_13{
  height:150px ;
}
.p_main_botton_14{
  height: 670px;
  background: yellowgreen;
}
footer{
  
}
.p_footer_top a:hover{
  text-decoration: underline;
  color:#fff;
}
.p_footer_top{
  height:452px ;
  background: #232f3e;
}
.p_footer_top a{
  padding: 4px 0px;
  color:#fff !important;
} 
.p_footer_top a:hover{
  text-decoration: underline;
  color:#fff !important;
}
.p_footer_top .container{
  max-width: 990px;
}
.p_footer_bottom{
  height:232px;
  background:#131a22;
}
.p_footer_bottom .p_footer_ul ul{
  width:50%;
}
.p_footer_bottom ul li{
  margin-bottom: 10px;
}
.p_footer_bottom a{
  font-size: 11px;
  color:#fff;
  padding: 0px;
  
}
.p_footer_bottom a:hover{
  text-decoration: underline;
  color:#d0d7c5 ;
}
.p_footer_eng:hover{
  background: transparent !important;
}
/**************************Home css end******************************************/
/**************************Detail css start******************************************/
.pricecolor{
  color:orangered;
}
.p_dtl_main{
  width:98%;
}
.p_dtl_top_bannr{
  height:50px;
}
.p_dtl_prodCont{
  height:1720px;
}
.p_dtl_prodMainImg{
  width: 490px;
  height: 490px;
}
.p_dtl_prodthumbnail{
  width:50px;
}
.p_dtl_prodthumbnail a:hover{
  border:1px solid #e77600;
  box-shadow: 0px,0px,5px,2px,#e77600;
}
.p_dtl_prodContBottm{
  height: 336px;
}
.p_dtl_havQ{
  height:170px;
}
.p_dtl_prodRelItm{
  height: 370px;
}
.p_dtl_custAlsoRev{
  height: 400px;
}
.p_dtl_prodCont a{
  text-decoration: none;
}
.p_dtl_prodCont a:hover{
  text-decoration: underline;
  color:orangered;
}
.t1225{
  top:1225px;
}
.p_dtl_ratingbox{
  height:330px;
  width: 337px;
  background: #fff;
  z-index: 1000000;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  transition: all 0.1s linear 0.1s;
  opacity: 0;
  visibility: hidden;
}
.p_dtl_ratingbox_div:hover > div{
 opacity: 1;
 visibility:visible;
}
.p_aup_dtl_ratingbox{
  top:-10px;
  left:87px;
} 
/**************************Detail css end******************************************/
/*******************************Sign-In css start**************************************/
.amznbtn{
  /*background-image: linear-gradient(direction, color-stop1, color-stop2, ...);*/
  background-image:-webkit-linear-gradient(top,#ffffcc 0% ,#ffcc99 10%, #ffcc66 50%);
}
.signincont{

}
/*******************************Sign-In css end**************************************/
/*******************************Search css end**************************************/
.p_srch_main{
 
}
.p_serch_filtertop{
  height:125px;
  box-shadow: 0px,0px,10px, 3px rgba(0,0,0,0.1);
}
.p_serch_filtertop a:hover{
  border:1px solid #000 !important;
  color:orangered !important;
}
.p_serch_filtertop a{
  border-radius: 10px !important;
}
.p_srch_main_1{
height:47px;
}
.p_srch_main_2{
  height:2000px
}
.p_anch_dec a{
  text-decoration: none;
}
.p_anch_dec a:hover{
color:#c7511f !important;
text-decoration: underline;
}
.p_srch_a a:hover{
  text-decoration:none !important;
}
.sprsheet{
  background:url('https://m.media-amazon.com/images/S/sash/3-fm1Jbg4IHlyhq.png')
}
.amazonlogo{
  background: url('https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png');
}
.sprsheetcont{
  width:98px;
  height: 20px;
}
.p_prime_sheet{
background-position: -6px -489px;
}
.p_5star{
  background-position: -98px -110px; 
}
.p_4star{
  background-position: -2px -86px; 
}
.p_3star{
  background-position: -293px -183px; 
}
.p_2star{
  background-position: -99px -134px; 
}
.p_1star{
  background-position: -389px -230px; 
}
.serchprime{
  width:55px;
  height: 19px;
}
.srch_arrwbox{
  width: 15px;
  height: 19px;
}
.srch_arrow{
  background-position: -11px -52px;
}
.p_aside_star{
  height: 20px;
  width: 98px;
}
/*******************************Search css end**************************************/
/*******************************Cart css start**************************************/
.p_checkbox{
  height: 22px;
  width: 22px;
}
.p_check_dimension{
background-position:-455px -142px ;
}
.accordion-button:focus{
 border-color:#fff !important ;
 box-shadow: none !important;
 outline: #eaeded;
}
/******************************cart css end**************************************/
/*******************************Delivery css start**************************************/
.delivery > header{
  height: 85px;
}
.delivery > footer{
  height: 80px;
}
.p_delivery_main{
  
}
.p_gradient{
  height: 44px;
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.03),#fff)
}
/*******************************Delivery css end**************************************/
/*******************************order history start**************************************/
.p_odr_his_main{
  
}
.p_bread_crumb{
  --bs-breadcrumb-divider: '>' 
}
/*******************************order history end**************************************/
